body{
    size: 100%;
    font-family: 'Times New Roman', Times, serif;
}

.jumbotron{
    text-align: center;
    background: url('../img/city-view.jpg') top center fixed;
    background-size: cover;
    color: white;
}

.content{
    text-align: center;
    margin: 50;
}

.navbar{
    background-color:rgba(0, 0, 0, 0.432);
    font-weight: bold;
    font-size: 1.1em;
}

.footer{
    margin-bottom: 0;
    color: white;
}

.footerBox{
    background-color: rgba(0, 0, 0, 0.432);
    height: 220px;
    text-align: center;
}