@font-face{
    font-family: 'Futura';
    src: url('../fonts/futur.ttf');
  }
  
  body{
      height: 100%;
      font-family: 'Futura';
  }

.navbar{
    background-color:rgba(0, 0, 0, 0.432);
    font-weight: bold;
    font-size: 1.1em;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    text-align: center;
    color: white;
    padding: 5px;
}

.footerBox{
    background-color: rgba(0, 0, 0, 0.432);
}