@font-face{
    font-family: 'Futura';
    src: url('../fonts/futur.ttf');
  }
  
  body{
      height: 100%;
      font-family: 'Futura';
  }

.content{
    padding: 20px;
}

.navbar{
    font-weight: bold;
    font-size: 1.1em;
    text-shadow: 1px 1px 1px gray;
    background-color: rgba(0,173,255,255);
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    text-align: center;
    color: white;
    background: url('../img/city-view.jpg') top center fixed;
    background-size: cover;
    padding: 5px;
    padding: 20px;
}

.footerBox{
    background-color: rgba(0, 0, 0, 0.432);
}